body { font-family: 'Quicksand', sans-serif; margin:0; padding:0; }
strong {
  font-weight: 600;
}
.mapboxgl-popup-content {
  padding: 10px 20px 10px 10px;
}
.small_link {
  font-size: 12px;
}
#red-dot {
  font-size: 0.5rem;
    color: #F44336;
}
#total_count {
  color:#F44336;
}
.data-source-link {
  float: right;
  padding-right: 12px;
}
.filter-icon {
  vertical-align: middle;
  cursor: pointer;
}
.active-filters-area {
  font-weight: 800;
  margin-top: 12px;
  margin-bottom: 12px;
}
.active-filters-area-header {
  font-size: 12px;
}
.chip.filter-chip {
    display: inline-block;
    font-size: 12px;
    height: inherit;
    font-weight: 500;
    color: white;
    line-height: 150%;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #9e9e9ea3;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 4px 12px;
}
.filter-chip-stats {
  color: black;
  padding-left: 4px;
}
.filter-chip-percent {
  color: #F44336;
}
.mapboxgl-ctrl-geocoder input[type='text'] {
  height:20px;
}
#map {
  position:absolute;
  top: 8px;
  bottom:0;
  left: 0;
  width:70%;
}
#case-details {
  width: 29%;
  position:absolute;
  top:0; bottom:0; right: 0;
}
#case-details-header {
  padding-top: 12px;
}
#case-details-body {
  max-height: 500px;
  overflow-y: scroll;
  padding-top: 4px;
  font-size: 0.8em;
  color: #000000;
  font-weight: 100;
}
#case-details-body .feature {
  font-weight: 400;
    font-size: 1em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.cap-first-letter {
  text-transform: capitalize;
}
.clear-filter-link {
  float: right;
  margin: 0 12px;
  cursor: pointer;
}
.weekDays-selector input {
  display: none!important;
}
.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 30px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
.weekDays-selector input[type=checkbox]:checked + label {
  background: #C9DAF8;
  color: #ffffff;
}
