body {
  position: relative;
  background: #fffffb;
  font-family: nyt-cheltenham-sh, georgia, times new roman, times, serif;
  padding-bottom: 100px;
  overflow-x: hidden;
}

.main {
  max-width: 1170px;
  margin: auto;
}
.quote {
  font-style: italic;
}
.header {
  text-align: center;
}

.formula {
  font-family: monospace;
}
#footer {
  border-top: 1px solid #e2e2e2;
  margin-left: auto;
  margin-right: auto;
}
.tooltipped, .fake-tooltipped {
  font-weight: bold;
  color:#b63d3d;
}
#tooltip-help {
  position: absolute;
    right: 0;
      margin: 140px 24px 0 0;
  text-align: left;
  float: right;
  font-size: 11px;
  width: 240px;
}
.has-annotation {
  position: relative;
}
.annotation {
  position: absolute;
  z-index: 999;
  font: 400 0.6em 'nyt-franklin', arial, sans-serif;
}
.annotation.highlight {
  z-index: -1;
}
.annotation.bordered {
  border: 1px solid #9d9d9d;
  padding: 0.6em;
 background: white;
}
.my-tabs {
  font: 400 0.9em 'nyt-franklin', arial, sans-serif;
  padding-left: 40px;
}
.my-tab {
  margin-left: -150px !important;
}
.g-body {
  font-size: 15px;
  line-height: 1.5;
  max-width: 460px;
  margin-left: auto;
  margin-right: auto;
}
.my-list ul:not(.browser-default) {
    list-style-type: inherit;
    padding-left: 24px;
}
.my-list ul:not(.browser-default)>li {
    list-style-type: inherit;
}
strong, b {
  font-weight: 700 !important;
}
.inline-source {
  font-family: 'nyt-franklin', arial, sans-serif;
  font-size: 0.8em;
}
p {
  font-weight: 400;
  font-style: normal;
  font-family: georgia, times new roman, times, serif;
}

.inline {
  display: inline-block;
}

.g-subhed h2 {
  margin: 2em auto 1em auto;
  font: 700 1.2em/1.3em 'nyt-franklin', arial, sans-serif;
  text-align: center;
  white-space: normal;
  float: none;
  display: block;
  position: static;
  font-size: 1.5em;
}

.g-subhed h6 {
  margin: 2em auto 1em auto;
  font: 700 1.2em/1.3em 'nyt-franklin', arial, sans-serif;
  text-align: center;
  white-space: normal;
  float: none;
  display: block;
  position: static;
  font-size: 1em;
}


section {
  margin: 2em;
}

#analysis-nav {
  position: fixed;
  top: 0;
  left: -40px;
}
.custom-tooltip {
  font-family: 'nyt-franklin', arial, sans-serif;
  font-size: 12px;
  text-align: left;
}
.tiny-text {
  font-size: 0.6em;
}
.small-text {
  font-size: 0.8em;
}
#analysis-nav .anatomy {
  transform: scale(0.7);
}
#analysis-nav a {
  color: black;
}
.main .threedmap {
  overflow: inherit;
  width: 70%;
}

.threedmap-container {
  height: 600px;
  position: relative;
  font-family: 'nyt-franklin', arial, sans-serif;
}
#map {
      height: 100%;
}
.mapboxgl-ctrl-bottom-left {
  display: none;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.mapboxgl-ctrl-logo {
  display: none;
}

.analysis {
  padding: 20px 160px;
  display: table;
}

.analysis .viz {
  display: table-cell;
  vertical-align: top;
  padding-left: 50px;
}

.analysis .viz p {
  color: #999;
  font: 400 0.8em 'nyt-franklin', arial, sans-serif;
}

.analysis .viz .method {
  max-width: 100%;
  color: black;
}

.analysis .text {
  padding-left: 2em;
  display: table-cell;
  vertical-align: top;
  font: 400 0.9em 'nyt-franklin', arial, sans-serif;
    line-height: 1.3em;
    padding-top: 0.8em;
}

.anatomy .icon-block .text.active {
  padding: 8px 12px;
  background: #C9DAF8;
  border-radius: 8px;
}

#analysis-nav .text:hover {
  padding: 8px 12px;
  background: #C9DAF8;
  border-radius: 8px;
}

.vega-actions {
  display: none;
}

.anatomy {
  margin: auto;
  text-align: center;
}

.anatomy .icon-block {
  display: inline-block;
  vertical-align: top;
  padding: 0 16px;
  text-align: center;
}

#analysis-nav .anatomy .icon-block .text {
  cursor: pointer;
}

#analysis-nav .anatomy .icon-block {
  width: 110px;
  height: 80px;
}

.anatomy .blockline {
  margin-top: 24px;
}

.anatomy .icon-block .icon {
  width: 38px;
}

.anatomy .icon-block .text {
  margin-top: 4px;
  font: 500 1.2em/1.3em 'nyt-franklin', arial, sans-serif;
  text-align: center;
  white-space: normal;
  float: none;
  display: block;
  position: static;
  font-size: 0.8em;
}

.story-heading {
  white-space: normal;
  float: none;
  display: block;
  position: static;
  font-size: 35px;
  line-height: 1.25em;
  margin-top: 28px;
  margin-bottom: 15px;
  font-weight: 700;
  font-style: italic;
}
.mapboxgl-ctrl-geocoder input[type='text'] {
  height:20px !important;
}
.byline {
  font-size: 11px;
  font-size: 0.9rem;
  line-height: 12px;
  line-height: .75rem;
  font-weight: 700;
  font-style: normal;
}

.dateline {
  margin-left: 8px;
  font-size: 13px;
  line-height: 12px;
  line-height: .75rem;
  font-weight: 300;
  font-style: normal;
  font-family: nyt-cheltenham-sh, georgia, times new roman, times, serif;
  color: #000;
}
#commonCausesWithPedestrainsHighlighted {
      margin-left: 16px;
}
