body {
  font-family: nyt-cheltenham-sh,georgia,times new roman,times,serif;
  padding-bottom: 100px;
}
.main {
  max-width: 1170px;
  margin: auto;
}
.header {
  text-align: center;
}
.g-body {
    font-size: 15px;
    line-height: 1.5;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
}
strong, b {
    font-weight: 700;
}
p {
  font-weight: 400;
  font-style: normal;
  font-family: georgia,times new roman,times,serif;
}
.inline {
      display: inline-block;
}
.g-subhed h2 {
    margin: 2em auto 1em auto;
    font: 700 1.2em/1.3em 'nyt-franklin', arial, sans-serif;
    text-align: center;
    white-space: normal; float: none; display: block; position: static;
    font-size: 1.5em;
}
section {
      margin: 2em;
}
.analysis {
      padding: 20px;
  display: table;
}
.analysis .viz {
  display: table-cell;
  vertical-align: top;
      padding-left: 50px;
}
.analysis .viz p {
  color: #999;
  font: 400 0.8em 'nyt-franklin', arial, sans-serif;
}
.analysis .viz .method {
 max-width: 100%;
  color: black;
}
.analysis .text {
  padding-left: 2em;
  display: table-cell;
  vertical-align: top;
}
.vega-actions {
  display: none;
}
.anatomy {
  margin: auto;
  text-align: center;
}
.anatomy .icon-block {
  display: inline-block;
vertical-align: top;
      padding: 0 16px;
      text-align: center;
}
.anatomy .blockline {
      margin-top: 24px;
}
.anatomy .icon-block .icon {
      width: 38px;
}

.anatomy .icon-block .text {
      margin-top: 4px;
  font: 500 1.2em/1.3em 'nyt-franklin', arial, sans-serif;
  text-align: center;
  white-space: normal; float: none; display: block; position: static;
    font-size: 0.8em;
}
.story-heading {
  white-space: normal; float: none; display: block; position: static;
  font-size: 35px;
  line-height: 1.25em;
  margin-top: 28px;
  margin-bottom: 15px;
  font-weight: 700;
  font-style: italic;
}

.byline {
    font-size: 11px;
    font-size: .6875rem;
    line-height: 12px;
    line-height: .75rem;
    font-weight: 700;
    font-style: normal;
}

.dateline {
      margin-left: 8px;
    font-size: 11px;
    font-size: .6875rem;
    line-height: 12px;
    line-height: .75rem;
    font-weight: 300;
    font-style: normal;
    font-family: nyt-cheltenham-sh,georgia,times new roman,times,serif;
    color: #000;
}
